.env
.git
.venv
__pycache__
.pytest_cache
node_modules
dist
storage
*.log
**/.venv
**/__pycache__
**/.pytest_cache
**/node_modules
**/dist
!apps/web/dist
!apps/web/dist/**
**/storage
**/*.tsbuildinfo
.tmp_*.pid
deploy/rhel9/offline/*
!deploy/rhel9/offline/wheels
!deploy/rhel9/offline/wheels/api-py312-linux-amd64
!deploy/rhel9/offline/wheels/api-py312-linux-amd64/**
